/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/
/*END RESET*/
/**/


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.sidebar {
	width: fit-content;
	padding: 0rem 4rem 0rem 1rem;
    grid-area: 1 / 1 / 3 / 2;
    background-color: cornflowerblue;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
	color: white;
	font-size: 1.25rem;
	font-weight: 700;
	gap: 2rem;
}

.sidebar-top {
	font-size: 2rem;
	display: grid;
	grid-template-columns: 3rem 1fr;
	align-items: center;
	gap: .5rem;

}


.header {
    background-color: white;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.upper-header{
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.searchbar-div{
	display: grid;
	grid-template-columns: 1fr 12fr;
	align-items: center;
}

.searchbar-div svg{
	justify-self: center;
}

.lower-header{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-content {
    background-color: gainsboro;
	display: grid;
	grid-template-columns: 6fr 2fr;
}

.your-projects {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr repeat(3, 4fr);
}

.your-projects-title{
	grid-area: 1 / 1 / 2 / -1;
}

.main-content-sidebar {
	display: grid;
	grid-template-rows: 1fr 1fr;

}



.sidebar-middle ul,
.sidebar-bottom ul {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1rem;
}

.sidebar-middle ul li,
.sidebar-bottom ul li {
	display: grid;
	grid-template-columns: .15fr 1fr;
	font-size: 1.25rem;
}

.dashboard-icon {
	width: 4rem;
}

input[type="search"]{
	height: 2rem;
	appearance: none;
	border-radius: 2rem;
	background-color: lightgray;
	border: none;
	width: 40vw;
}

.profile-pic{
	width: 3rem;
	border-radius: 50%;
}

.notifications{
	display: grid;
	grid-template-columns: .5fr 1fr 4fr;
	align-items: center;
}

.notifications h3{
	font-weight: 700;
	font-size: 1.25rem;
	
}

.bell{
	background-color: red;
}